In [24]:
# Data manipulation
import pandas as pd
import numpy as np
import datetime
from sklearn.impute import KNNImputer
# Utilities
import datetime as dt

Data

In [25]:
products_df = pd.read_csv('../../Data/external/products.csv')
sellers_df = pd.read_csv('../../Data/external/sellers.csv')
order_items_df = pd.read_csv('../../Data/external/order_items.csv')

1. Data Cleaning

In [26]:
# Get the count of non-null entries for each column and data type
print(products_df.info())
print(sellers_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB
None

In [27]:
# Summary count of missing values in each column:
print("Missing values in each column: \n")
print(products_df.isna().sum())
# Check Empty Strings
print("\n Empty strings: \n")
empty_strings = (products_df == '') | (products_df == ' ')
print(empty_strings.sum())

Missing values in each column:

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

 Empty strings:

product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

In [28]:
# Correct the column names in your fillna operation
for column in ['product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']:
    # Calculate the median for each column and use it to fill missing values
    median_value = products_df[column].median()
    products_df[column] = products_df[column].fillna(median_value)

In [29]:
products_df

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [30]:
cleaned_df = products_df.dropna(subset=['product_category_name'])

In [31]:
# Count occurrences of each value in the product_category_name column
value_counts = products_df['product_photos_qty'].value_counts()
print(value_counts)

product_photos_qty
1.0     17099
2.0      6263
3.0      3860
4.0      2428
5.0      1484
6.0       968
7.0       343
8.0       192
9.0       105
10.0       95
11.0       46
12.0       35
13.0        9
15.0        8
17.0        7
14.0        5
18.0        2
20.0        1
19.0        1
Name: count, dtype: int64

In [32]:
print(cleaned_df)

                             product_id              product_category_name  \
0      1e9e8ef04dbcff4541ed26657ea517e5                         perfumaria
1      3aa071139cb16b67ca9e5dea641aaa2f                              artes
2      96bd76ec8810374ed1b65e291975717f                      esporte_lazer
3      cef67bcfe19066a932b7673e239eb23d                              bebes
4      9dc1a7de274444849c219cff195d0b71              utilidades_domesticas
...                                 ...                                ...
32946  a0b7d5a992ccda646f2d34e418fff5a0                   moveis_decoracao
32947  bf4538d88321d0fd4412a93c974510e6  construcao_ferramentas_iluminacao
32948  9a7c6041fa9592d9d9ef6cfe62a71f8c                    cama_mesa_banho
32949  83808703fc0706a22e264b9d75f04a2e             informatica_acessorios
32950  106392145fca363410d287a815be6de4                    cama_mesa_banho

       product_name_lenght  product_description_lenght  product_photos_qty  \
0                     40.0                       287.0                 1.0
1                     44.0                       276.0                 1.0
2                     46.0                       250.0                 1.0
3                     27.0                       261.0                 1.0
4                     37.0                       402.0                 4.0
...                    ...                         ...                 ...
32946                 45.0                        67.0                 2.0
32947                 41.0                       971.0                 1.0
32948                 50.0                       799.0                 1.0
32949                 60.0                       156.0                 2.0
32950                 58.0                       309.0                 1.0

       product_weight_g  product_length_cm  product_height_cm  \
0                 225.0               16.0               10.0
1                1000.0               30.0               18.0
2                 154.0               18.0                9.0
3                 371.0               26.0                4.0
4                 625.0               20.0               17.0
...                 ...                ...                ...
32946           12300.0               40.0               40.0
32947            1700.0               16.0               19.0
32948            1400.0               27.0                7.0
32949             700.0               31.0               13.0
32950            2083.0               12.0                2.0

       product_width_cm
0                  14.0
1                  20.0
2                  15.0
3                  26.0
4                  13.0
...                 ...
32946              40.0
32947              16.0
32948              27.0
32949              20.0
32950               7.0

[32341 rows x 9 columns]

2. Check Sellers Data

In [33]:
# Check for null values
null_values = sellers_df.isnull().sum()
print("Null values in each column:")
print(null_values)

# Check for empty strings in string-type columns
empty_strings = (sellers_df == '') | (sellers_df == ' ')
empty_strings_count = empty_strings.sum()
print("\nEmpty strings in each column:")
print(empty_strings_count)

Null values in each column:
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

Empty strings in each column:
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [34]:
# Merge orders data with sellers data using seller_id as the key
merged_sellers_order = pd.merge(order_items_df, sellers_df, on='seller_id', how='inner')
print(merged_sellers_order.head())

                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   shipping_limit_date   price  freight_value  seller_zip_code_prefix  \
0  2017-09-19 09:45:35   58.90          13.29                   27277
1  2017-05-03 11:05:13  239.90          19.93                    3471
2  2018-01-18 14:48:30  199.00          17.87                   37564
3  2018-08-15 10:10:18   12.99          12.79                   14403
4  2017-02-13 13:57:51  199.90          18.14                   87900

     seller_city seller_state
0  volta redonda           SP
1      sao paulo           SP
2  borda da mata           MG
3         franca           SP
4         loanda           PR

In [35]:
# Calculate turnover for each seller
seller_turnover = order_items_df.groupby('seller_id')['price'].sum().reset_index()
seller_turnover.rename(columns={'price': 'turnover'}, inplace=True)
print(seller_turnover.head(10))

                          seller_id  turnover
0  0015a82c2db000af6aaaf3ae2ecb0532   2685.00
1  001cca7ae9ae17fb1caed9dfb1094831  25080.03
2  001e6ad469a905060d959994f1b41e4f    250.00
3  002100f778ceb8431b7a1020ff7ab48f   1234.50
4  003554e2dce176b5555353e4f3555ac8    120.00
5  004c9cd9d87a3c30c522c48c4fc07416  19712.71
6  00720abe85ba0859807595bbf045a33b   1007.50
7  00ab3eff1b5192e5f1a63bcecfee11c8     98.00
8  00d8b143d12632bad99c0ad66ad52825     86.00
9  00ee68308b45bc5e2660cd833c3f81cc  20260.00

In [36]:
# Find sellers with the biggest turnover
biggest_turnover_sellers = seller_turnover.nlargest(5, 'turnover')

# Find sellers with the smallest turnover
smallest_turnover_sellers = seller_turnover.nsmallest(5, 'turnover')
print(biggest_turnover_sellers)
print(smallest_turnover_sellers)

                             seller_id   turnover
857   4869f7a5dfa277a7dca6462dcf3b52b2  229472.63
1013  53243585a1d6dc2643021fd1853d8905  222776.05
881   4a3ca9315b744ce9f8e9374361493884  200472.92
3024  fa1c13f2614d7b5c4749cbc52fecda94  194042.03
1535  7c67e1448b00f6e969d365cea6b010ab  187923.89
                             seller_id  turnover
2519  cf6f6bc4df3999b9c6440f124fb2f687       3.5
1465  77128dec4bec4878c37ab7d6169d6f26       6.5
373   1fa2d3def6adfa70e58c276bb64fe5bb       6.9
1370  702835e4b785b67a084280efca355756       7.6
627   34aefe746cd81b7f3b23253ea28bef39       8.0

In [37]:
# Export sellers with the biggest turnover to CSV
biggest_turnover_sellers.to_csv('../../Data/processed/biggest_turnover_sellers.csv', index=False)

# Export sellers with the smallest turnover to CSV
smallest_turnover_sellers.to_csv('../../Data/processed/smallest_turnover_sellers.csv', index=False)

In [38]:
# Group orders by area and calculate total sales for each area
area_sales = merged_sellers_order.groupby('seller_state')['price'].sum().reset_index()

# Find leaders and outsiders in sales in each area
area_sales_sorted = area_sales.sort_values(by='price', ascending=False)
leaders_in_sales = area_sales_sorted.head(5)  # the number as needed ( 5 biggest sales)
outsiders_in_sales = area_sales_sorted.tail(5)  # the number as needed ( 5 smallest sales)
# export the data to csv
leaders_in_sales.to_csv('../../Data/processed/leaders_in_sales.csv', index=False)
outsiders_in_sales.to_csv('../../Data/processed/outsiders_in_sales.csv', index=False)

display(leaders_in_sales)
display(outsiders_in_sales)

   seller_state       price
22           SP  8753396.21
15           PR  1261887.21
8            MG  1011564.74
16           RJ   843984.22
20           SC   632426.07

   seller_state   price
14           PI  2522.0
21           SE  1606.2
11           PA  1238.0
1            AM  1177.0
0            AC   267.0

In [46]:
merged_products_sellers = pd.merge(products_df, order_items_df, on='product_id', how='inner')

most_products_sells = merged_products_sellers.groupby('price')['product_category_name'].sum().reset_index()
area_sales_sorted = area_sales.sort_values(by='price', ascending=False)

display(most_products_sells.head(10))
# Display the number of non-null values in each column
# Display the frequency of each value in 'product_category_name'
print(most_products_sells['product_category_name'].value_counts())

   price                              product_category_name
0   0.85  construcao_ferramentas_construcaoconstrucao_fe...
1   1.20  beleza_saudebeleza_saudebeleza_saudebeleza_sau...
2   2.20                                       beleza_saude
3   2.29                                          papelaria
4   2.90                                           pet_shop
5   2.99                                          papelaria
6   3.00                                                  0
7   3.06  utilidades_domesticasutilidades_domesticasutil...
8   3.49                     automotivoautomotivoautomotivo
9   3.50  artesautomotivoautomotivoautomotivoautomotivoa...

product_category_name
beleza_saude                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           223
utilidades_domesticas                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  189
relogios_presentes                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     181
esporte_lazer                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          175
informatica_acessorios                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 173
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
automotivoalimentosalimentosalimentosalimentosalimentosalimentosalimentosalimentosalimentosesporte_lazer                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
cama_mesa_banhocama_mesa_banhobeleza_saudebeleza_saudebeleza_saude                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
utilidades_domesticaslivros_tecnicoscama_mesa_banhoesporte_lazerutilidades_domesticasutilidades_domesticasutilidades_domesticasutilidades_domesticasbeleza_saudepapelariapapelariapapelariaesporte_lazeresporte_lazerutilidades_domesticasutilidades_domesticasesporte_lazeresporte_lazeresporte_lazerinformatica_acessoriosinformatica_acessoriosinformatica_acessoriosinformatica_acessoriosinformatica_acessoriosesporte_lazeresporte_lazerpapelariaesporte_lazeresporte_lazerbeleza_saudeautomotivolivros_importadoslivros_importadosperfumaria      1
cool_stuffutilidades_domesticasinformatica_acessoriosbebescool_stuffeletroportateiseletroportateiseletroportateiseletroportateiscool_stuffcool_stuffcool_stuffcool_stuffmoveis_decoracaomoveis_decoracaocool_stuffcool_stuffutilidades_domesticasutilidades_domesticasutilidades_domesticascool_stuffcool_stuffcool_stuffcool_stuffbeleza_saudebeleza_saudecool_stuffautomotivo                                                                                                                                                                          1
portateis_casa_forno_e_cafebeleza_saude                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
Name: count, Length: 2447, dtype: int64

In [58]:
threshold_length = 50

# Filter out rows where the product_category_name is longer than the threshold
cleaned_products_df = products_df[products_df['product_category_name'].str.len() <= threshold_length]

# Verify the changes
print(cleaned_products_df['product_category_name'].value_counts())

product_category_name
cama_mesa_banho                  3029
esporte_lazer                    2867
moveis_decoracao                 2657
beleza_saude                     2444
utilidades_domesticas            2335
                                 ...
fashion_roupa_infanto_juvenil       5
casa_conforto_2                     5
pc_gamer                            3
seguros_e_servicos                  2
cds_dvds_musicais                   1
Name: count, Length: 73, dtype: int64